@model IEnumerable<LibraryBooksBooking.Core.Models.Booking>

@{
    ViewData["Title"] = "Bookings";
}

<h2>Bookings</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerGuid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookGuid)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReturnDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerGuid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookGuid)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Guid">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Guid">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Guid">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
